<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Serach by Name"
    [(ngModel)]="searchTerm"
  />
</div>
<div class="form-group">
  <button (click)="changeEmployeeName()" class="btn btn-primary">
    Change Employee Name
  </button>
</div>
<div class="card-body">
  <div *ngFor="let employee of filteredEmployees" (mousemove)="onMouseMove()">
    <div (click)="onClick(employee.id)" class="pointerCursesr">
      <app-display-employee
        [employee]="employee"
        #childComponent
      ></app-display-employee>
    </div>
  </div>
</div>
