<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
  <div class="card-body">
    <div class="card card-primary">
      <div class="card-header bg-primary">
        <h3 class="card-title">Create Employee</h3>
      </div>

      <div class="panel-body">
        <div
          class="form-group"
          [class.has-error]="name.invalid && name.touched"
          [class.has-success]="name.valid"
        >
          <label for="name" class="control-label">Name</label>
          <input
            id="name"
            required
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="employee.name"
            #name="ngModel"
          />
          <span class="help-block" *ngIf="name.invalid && name.touched">
            Name is required
          </span>
        </div>

        <div class="form-group" [class.has-error]="email.invalid">
          <label for="email" class="control-label">Email</label>
          <input
            id="email"
            [required]="contactPrefrence.value == 'email'"
            pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail)\.com$"
            [email]="employee.email !== ''"
            name="email"
            #email="ngModel"
            [(ngModel)]="employee.email"
            type="text"
            class="form-control"
          />
          <span class="help-block" *ngIf="email.errors?.required">
            Email is required
          </span>
          <span class="help-block" *ngIf="email.errors?.pattern">
            Email is Invalid
          </span>
        </div>

        <div class="form-group" [class.has-error]="phoneNumber.invalid">
          <label for="phoneNumber" class="control-label">Phone Number</label>
          <input
            id="phoneNumber"
            [required]="contactPrefrence.value == 'phone'"
            name="phoneNumber"
            #phoneNumber="ngModel"
            [(ngModel)]="employee.phoneNumber"
            type="text"
            class="form-control"
          />
          <span class="help-block" *ngIf="phoneNumber.errors?.required">
            Phone Number is required
          </span>
        </div>

        <div
          class="form-group"
          [class.has-error]="
            contactPrefrence.touched && contactPrefrence.invalid
          "
        >
          <label class="control-label">Contact Prefrence</label>
          <div class="form-control">
            <label class="radio-inline">
              <input
                type="radio"
                required
                #contactPrefrence="ngModel"
                value="email"
                name="contactPrefrence"
                [(ngModel)]="employee.email"
              />
              Email
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                required
                #contactPrefrence="ngModel"
                value="phone"
                name="contactPrefrence"
                [(ngModel)]="employee.phone"
              />
              Phone
            </label>
          </div>
          <span
            class="help-block"
            *ngIf="contactPrefrence.touched && contactPrefrence.invalid"
          >
            Contact Prefrence is required
          </span>
        </div>

        <div
          class="form-group"
          [class.has-error]="gender.touched && gender.invalid"
        >
          <label class="control-label">Gender</label>
          <div class="form-control">
            <label class="radio-inline">
              <input
                type="radio"
                required
                #gender="ngModel"
                value="male"
                name="gender"
                [(ngModel)]="employee.gender"
              />
              Male
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                required
                #gender="ngModel"
                value="female"
                name="gender"
                [(ngModel)]="employee.gender"
              />
              Female
            </label>
          </div>
          <span class="help-block" *ngIf="gender.touched && gender.invalid">
            Gender is required
          </span>
        </div>

        <div
          class="form-group"
          [class.has-error]="isActive.touched && isActive.invalid"
        >
          <div class="form-control">
            <label class="checkbox-inline control-label">
              <input
                type="checkbox"
                name="isActive"
                [required]="employee.isActive == null"
                #isActive="ngModel"
                [(ngModel)]="employee.isActive"
              />
              Is Active
            </label>
          </div>
          <span
            class="help-block"
            *ngIf="isActive.touched && isActive.errors?.required"
          >
            Is Active is required
          </span>
        </div>

        <div
          class="form-group"
          [class.has-error]="department.touched && department.invalid"
        >
          <label for="department" class="control-label"> Department </label>
          <select
            id="department"
            appSelectValidator="select"
            name="department"
            [(ngModel)]="employee.department"
            class="form-control"
            #department="ngModel"
          >
            <option ngValue="select">Select Department</option>
            <option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </option>
          </select>
          <span
            class="help-block"
            *ngIf="department.touched && department.errors?.defaultSelected"
          >
            Department is required
          </span>
        </div>

        <div class="row" style="margin-left: 3px;">
          <div class="form-group" col-md-5>
            <label for="dateOfBirth">Date of Birth</label>
            <input
              id="dateOfBirth"
              name="dateOfBirth"
              [(ngModel)]="employee.dateOfBirth"
              type="text"
              bsDatepicker
              [bsConfig]="datePickerConfig"
              placement="right"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="photoPath">Photo Path</label>
          <input
            id="photoPath"
            name="photoPath"
            [(ngModel)]="employee.photoPath"
            type="text"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <button
            type="button"
            (click)="togglePhotoPreview()"
            class="btn btn-primary"
          >
            {{ previewPhoto ? "Hide " : "Show " }} Preview
          </button>
        </div>

        <div class="form-group">
          <img
            [src]="employee.photoPath"
            height="200px"
            width="200px"
            *ngIf="previewPhoto"
          />
        </div>

        <!-- <div
          ngModelGroup="passwordGroup"
          #passwordGroup="ngModelGroup"
          appConfirmEqualValidator
          [class.has-error]="
            passwordGroup.errors?.notEqual && !confirmPassword.errors?.required
          "
        >
          <div
            class="form-group"
            [class.has-error]="password.touched && password.invalid"
          >
            <label for="password" class="control-label">Password</label>
            <input
              name="password"
              required
              type="text"
              class="form-control"
              [(ngModel)]="employee.password"
              #password="ngModel"
            />
            <span
              class="help-block"
              *ngIf="password.touched && password.errors?.required"
            >
              Password is required
            </span>
          </div>

          <div
            class="form-group"
            [class.has-error]="
              confirmPassword.touched && confirmPassword.invalid
            "
          >
            <label for="confirmPassword" class="control-label"
              >Confirm Password</label
            >
            <input
              name="confirmPassword"
              required
              type="text"
              class="form-control"
              [(ngModel)]="employee.confirmPassword"
              #confirmPassword="ngModel"
            />
            <span
              class="help-block"
              *ngIf="
                confirmPassword.touched && confirmPassword.errors?.required
              "
            >
              Confirm Password is required
            </span>
            <span
              class="help-block"
              *ngIf="
                confirmPassword.touched &&
                passwordGroup.errors?.notEqual &&
                !confirmPassword.errors?.required
              "
            >
              Password and Confirm Password does not match
            </span>
          </div>
        </div> -->
      </div>

      <div class="panel-footer">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="employeeForm.invalid"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>

Angular Genrated Form Model : {{ employeeForm.value | json }}
<br />
<br />
Our Employee Model: {{ employee | json }}
