.imageClass {
  width: 200px;
  height: 200px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.card {
  border-radius: 3px;
}

.panel-body {
  border: 1px solid #337ab7;
}

.col-6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: #000;
}

.card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
